.rs-scale-point
  display           : flex
  cursor            : pointer

  &__number
    position        : absolute
    display         : flex
    font            : 700 14px sans-serif
    color           : #414c5c

  ::selection
    background      : transparent


// horizontal position on page
.rs-range-slider_position_horizontal .rs-scale-point
  margin-top        : 30px
  height            : 20px
  width             : 15px
  justify-content   : space-around

  &__long-line
    border-left     : 3px solid rgb(167, 169, 180)
    height          : 20px

  &__short-line
    border-left     : 2px solid rgb(167, 169, 180)
    height          : 10px

  &__number
    margin-top      : 30px
    text-align      : center


// vertical position on page
.rs-range-slider_position_vertical .rs-scale-point
  margin-left       : 30px
  height            : 15px
  width             : 20px
  align-items       : center

  &__long-line
    border-top      : 3px solid rgb(167, 169, 180)
    width           : 20px

  &__short-line
    border-top      : 2px solid rgb(167, 169, 180)
    width           : 10px

  &__number
    margin-left     : 30px
    align-items     : center
