.rs-scale-range
  display flex

// horizontal position on page
.rs-range-slider_position_horizontal .rs-scale-range
  margin-top 20px
  width 100%
  justify-content space-between

// vertical position on page
.rs-range-slider_position_vertical .rs-scale-range
  margin-left 30px
  height 100%
  flex-direction column
  justify-content space-between
  align-items center
