@require '../assets/stylus/vars'

// stylus
@require './view/range/range'
@require './view/button/button'
@require './view/interval/interval'
@require './view/label/label'
@require './view/scale/scale'
@require './view/point/point'