.rs-range-slider__button
  position absolute
  z-index 1
  width 16px
  height 16px
  border 2px solid default-color 
  border-radius 100%
  background secondary-color
  cursor pointer
  user-select none

&_lift-up
  z-index 10
