.js-button-label
  position        : absolute
  margin-top      : -59px
  margin-left     : -14px
  transform       : rotate(45deg)

  width           : 45px
  height          : 45px
  z-index         : 1

  border          : 2px solid rgb(167, 169, 180)
  border-radius   : 100% 100% 0 100%
  background      : #fff

  &_hide
    display         : none

  &__input
    transform       : rotate(-45deg)
    width           : 90%
    height          : 100%
    border          : none
    background      : none

    text-align      : center
    font            : 700 14px sans-serif
    color           : #414c5c

    &:focus
      outline       : none

  &_lift-up
    z-index         : 10
