//// slider display setting ////
// range
.js-range-slider
  position          : relative
  border            : 2px solid rgb(167, 169, 180)
  border-radius     : 25px
  margin            : 30px

  &__vertical
    width           : 20px
    height          : 100%

  &__horizontal
    height          : 20px
    width           : 100%


  .js-slider-button
    position          : absolute
    width             : 16px
    height            : 16px

    border            : 2px solid #fffccc
    border-radius     : 100%
    background        : rgb(167, 169, 180)

    z-index           : 1
    cursor            : pointer
    transition        : all

// interval
.js-range-interval
  position          : absolute
  background        : rgb(167, 169, 180)

.js-range-slider__horizontal .js-range-interval
  top               : 50%
  transform         : translateY(-50%)
  height            : 12px

.js-range-slider__vertical .js-range-interval
  left              : 50%
  transform         : translateX(-50%)
  width             : 12px


// label
.js-button-label
  position          : absolute

  &__container
    position          : absolute
    top               : -58px
    left              : -14.1px

    width             : 45px
    height            : 45px
    transform         : rotate(45deg)

    z-index           : 1
    border            : 2px solid rgb(167, 169, 180)
    border-radius     : 100% 100% 0 100%
    background        : #fff

  &__input
    width             : 90%
    height            : 100%
    border            : none
    background        : none
    transform         : rotate(-45deg)

    text-align        : center
    font              : 700 14px sans-serif
    color             : #414c5c

    &:focus
      outline         : none

  &__hide
    display           : none

// scale
.js-range-slider__horizontal .js-scale-range
  position        absolute
  top             25px
  width           100%

  display         flex
  justify-content space-between

.js-range-slider__horizontal .js-scale-line
  position        relative
  height          20px
  width           15px

  display         flex
  justify-content space-around

  &__long
    height        15px
    border-left   3px solid rgb(167, 169, 180)

  &__short
    height        10px
    border-left   2px solid rgb(167, 169, 180)

  &__number
    position      absolute
    top           30px

    height        20px
    width         30px

    text-align    center
    font          700 14px sans-serif
    color         #414c5c

  ::selection
    background    transparent

.js-range-slider__vertical .js-scale-range
  position        absolute
  left            25px
  height          100%

  display         flex
  flex-direction  column
  justify-content space-between
  align-items     center

.js-range-slider__vertical .js-scale-line
  height          15px
  width           20px

  display         flex
  align-items     center

  &__long
    width         20px
    border-top    3px solid rgb(167, 169, 180)

  &__short
    width         10px
    border-top    2px solid rgb(167, 169, 180)

  &__number
    position      absolute
    left          30px

    height        30px
    width         30px

    font          700 14px sans-serif
    color         #414c5c
    display       flex
    align-items   center

  ::selection
    background    transparent
