body
  background        : #414c5c
  margin            : 20px 100px

.page
  display           : flex
  flex-direction    : column
  justify-content   : space-between
  height            : 500px

.wrapper
  width             : 100%
  margin            : 20px 10px
  display           : flex
  justify-content   : space-between
  background        : #fff


.tuning
  width             : 700px
  padding           : 40px
  border-right      : 30px solid #414c5c

.container
  position            relative

  height            : 400px
  width             : 100%
  padding: 20px


.plugin
  width             : 100%
  height            : 100%

  display           : flex
  justify-content   : space-around
  align-items       : center

.container-field
  position absolute

  display           : flex
  justify-content   : space-between

.field-style
  margin            : 20px 10px
  width             : 90px

  font-size         : 16px
  font-weight       : bold


// slider display setting

.js-range-slider
  position          : relative
  border            : 2px solid rgb(167, 169, 180)
  border-radius     : 25px
  margin            : 30px

  &__vertical
    width             : 18px
    height            : 100%

    & .js-range-interval
      left              : 50%;
      transform         : translateX(-50%);
      width             : 14px;


  &__horizontal
    height            : 18px
    width             : 100%

    & .js-range-interval
      top               : 50%;
      transform         : translateY(-50%);
      height            : 14px;



.js-range-btn
  position          : absolute;
  width             : 14px;
  height            : 14px;

  border            : 2px solid #fffccc;
  border-radius     : 100%;
  background        : rgb(167, 169, 180);

  z-index           : 1
  cursor            : pointer;
  transition        : all

.js-range-interval
  position          : absolute;
  background        : rgb(167, 169, 180);



