body
  background:   #414c5c

.container
  margin:         50px 100px
  display:        flex
  flex-direction: column
  justify-content: space-between
  align-items:     center

.wrapper
  margin:         20px
  background:    #fff
  border:         1px solid black;
  padding:        30px;

.vertical
  width:          40px
  min-height:     600px


.horizontal
  height:         40px
  min-width:      600px



.range-slider
  position          : relative
  height            : 16px
  border            : 2px solid rgb(167, 169, 180)
  border-radius     : 25px

.range-btn
  position          : absolute;
  top               : -4px;

  width             : 20px;
  height            : 20px;
  z-index           : 1;

  border            : 2px solid #fffccc;
  border-radius     : 100%;
  background        : rgb(167, 169, 180);

  cursor            : pointer;