.js-slider-button
  position          : absolute
  width             : 16px
  height            : 16px
  z-index           : 1

  border            : 2px solid #fffccc
  border-radius     : 100%
  background        : rgb(167, 169, 180)

  cursor            : pointer

  &_lift-up
    z-index         : 10