.js-slider-button
  position          : absolute
  width             : 16px
  height            : 16px

  border            : 2px solid #fffccc
  border-radius     : 100%
  background        : rgb(167, 169, 180)

  z-index           : 1
  cursor            : pointer
  transition        : all