.js-scale-range
  display           : flex

// horizontal position on page
.js-range-slider_horizontal .js-scale-range
  margin-top        : 30px
  width             : 100%

  justify-content   : space-between


// vertical position on page
.js-range-slider_vertical .js-scale-range
  margin-left       : 40px
  height            : 100%

  flex-direction    : column
  justify-content   : space-between
  align-items       : center
