@require '../parameter/parameter'

.tuning
  width 875px
  padding 25px 40px
  display flex
  flex-direction column
  justify-content space-around
  border-right 30px solid primary-color

  &__line
    height 1px
    width 100%
    margin 5px 0
    background #000

  &__container
    margin 5px 10px
