include ../parameter/parameter

mixin tuning(config=false)
  - if (!config) config = require('./modules/tuning/tuning.json');

  form.tuning

    .tuning__container
      +parameter

    hr.tuning__line
    - for (let i = 1; i <= 5; i += 1)
      .tuning__container
        +parameter(config[i])


    hr.tuning__line

    .tuning__container
      +parameter(config[6])

    .tuning__container
      +parameter(config[7])

    hr.tuning__line
    - for (let i = 8; i <= 11; i += 1)
      .tuning__container
        +parameter(config[i])
