@require './modules/tuning/tuning'
@require './modules/slider-field/slider-field'

*
  box-sizing          : border-box
  font                : 700 15px sans-serif
  color               : #414c5c
  margin              : 0

.page
  display             : flex
  flex-direction      : column
  height              : 500px
  background          : #414c5c

  &__wrapper
    width               : 100%
    max-width           : 1200px
    min-width           : 750px
    margin              : 20px auto

    display             : flex
    justify-content     : space-between
    background          : #fff
