.rs-slider-interval
  background        : rgb(167, 169, 180)
  width             : 100%
  height            : 100%


// horizontal position on page
.rs-range-slider_horizontal .rs-slider-interval
  height            : 12px

// vertical position on page
.rs-range-slider_vertical .rs-slider-interval
  width             : 12px
