.js-slider-interval
  background        : rgb(167, 169, 180)
  width             : 100%
  height            : 100%


// horizontal position on page
.js-range-slider_horizontal .js-slider-interval
  height            : 12px

// vertical position on page
.js-range-slider_vertical .js-slider-interval
  width             : 12px
