@require '../../assets/stylus/vars'
@require '../../assets/stylus/reset';

@require '../modules/tuning/tuning'
@require '../modules/slider-field/slider-field'


.page
  display flex
  flex-direction column
  height 500px
  background primary-color

  &__wrapper
    width 100%
    max-width 1200px
    min-width 750px
    margin 20px auto
    display flex
    justify-content space-between
    background default-color
