.parameter
  display                   : grid
  grid-template-columns     : 145px 1fr
  align-items               : center

  &__name
    font-size               : 16px

  &__container
    display                 : grid
    grid-template-columns   : 80px 80px 80px
    grid-column-gap         : 5px
    height                  : 22px

  &__label
    display                 : flex
    align-items             : center

  &__input-radio,
  &__input-value
    margin                  : 3px 8px 0 0
    
  &__input-value
    width                   : 100%