mixin sliderField(options)
  .container
    .container-field
      input.field-style(class=options.textField[0])
      input.field-style(class=options.textField[1])
    .plugin(class=options.classToInstall)