include ./modules/tuning
include ./modules/sliderField


doctype html
html
  head
    title range plugin

body.page
  .wrapper
    +tuning()
    +sliderField({
      classToInstall: 'rangeSlider1',
      textField: ['text-field1', 'text-field2']
    })

  .wrapper
    +tuning()
    +sliderField({
      classToInstall: 'rangeSlider2',
      textField: ['text-field3', 'text-field4']
    })


  .wrapper
    +tuning()
    +sliderField({
      classToInstall: 'rangeSlider3',
      textField: ['text-field5', 'text-field6']
    })

  .wrapper
    +tuning()
    +sliderField({
      classToInstall: 'rangeSlider4',
      textField: ['text-field7', 'text-field8']
    })

  .wrapper
    +tuning()
    +sliderField({
      classToInstall: 'rangeSlider4',
      textField: ['text-field9', 'text-field10']
    })





