doctype html
html
  head
    title range plugin

body.page
  .wrapper
    form.tuning

      .tuning__container
        .parameter
          h3.parameter__name slider type

          .parameter__container
            label.parameter__options
              input(type="radio" name="sliderType" value="single").parameter__input
              |single
            label.parameter__options
              input(type="radio" name="sliderType" value="range" checked).parameter__input
              |range
            label.parameter__options
              input(type="radio" name="sliderType" value="progress").parameter__input
              |progress

      hr

      .tuning__container
        .parameter
          h3.parameter__name vertical

          .parameter__container
            label.parameter__options
              input(type="radio" name="isVertical" value="true" checked).parameter__input
              |true

            label.parameter__options
              input(type="radio" name="isVertical" value="false").parameter__input
              |false

      .tuning__container
        .parameter
          h3.parameter__name invert

          .parameter__container
            label.parameter__options
              input(type="radio" name="isInvert" value="true" checked).parameter__input
              |true

            label.parameter__options
              input(type="radio" name="isInvert" value="false").parameter__input
              |false

      .tuning__container
        .parameter
          h3.parameter__name values

          .parameter__container
            input(name="sliderValues" placeholder="number" value="-50").parameter__input.field-style
            input(name="sliderValues2" placeholder="number" value="50").parameter__input.field-style

      .tuning__container
        .parameter
          h3.parameter__name min max values

          .parameter__container
            input(name="minValue" placeholder="min" value="-100").parameter__input.field-style
            input(name="maxValue" placeholder="max" value="100" ).parameter__input.field-style

      .tuning__container
        .parameter
          h3.parameter__name step

          .parameter__container
            input(name="step" placeholder="number" value="1").parameter__input.field-style

      hr

      .tuning__container
        .parameter
          h3.parameter__name label

          .parameter__container
            label.parameter__options
              input(type="radio" name="islabel" value="true" checked).parameter__input
              |true

            label.parameter__options
              input(type="radio" name="islabel" value="false").parameter__input
              |false

      .tuning__container
        .parameter
          h3.parameter__name onClick

          .parameter__container
            label.parameter__options
              input(type="radio" name="islabelOnClick" value="true" checked).parameter__input
              |true

            label.parameter__options
              input(type="radio" name="islabelOnClick" value="false").parameter__input
              |false

      hr

      .tuning__container
        .parameter
          h3.parameter__name scale

          .parameter__container
            label.parameter__options
              input(type="radio" name="isScale" value="true" checked).parameter__input
              |true

            label.parameter__options
              input(type="radio" name="isScale" value="false").parameter__input
              |false

      .tuning__container
        .parameter
          h3.parameter__name points

          .parameter__container
            input(name="points" placeholder="number" value="13").parameter__input.field-style

      .tuning__container
        .parameter
          h3.parameter__name numberForEach

          .parameter__container
            input(name="numberForEach" placeholder="number" value="4").parameter__input.field-style

      .tuning__container
        .parameter
          h3.parameter__name longForEach

          .parameter__container
            input(name="longForEach" placeholder="number" value="2").parameter__input.field-style

      input(type="button" value="accept").tuning__btn

    .container
      .container-field
        input.field-style.text-field
        input.field-style.text-field2
      .plugin.rangeSlider

  .wrapper
    .tuning
    .container
      .container-field
        input.field-style.text-field3
        input.field-style.text-field4
      .plugin.rangeSlider2












