.js-range-slider
  position          : relative
  border            : 2px solid rgb(167, 169, 180)
  border-radius     : 25px
  margin            : 30px

  &_vertical
    width           : 20px
    height          : 100%

  &_horizontal
    height          : 20px
    width           : 100%
